<img src="<%= @article.image %>" alt='image' width="150px">
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<a href="/articles/<%= @article.id %>/edit" id='editarticle'>edit</a>
<form action="/articles/<%= @article.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="name" value="Delete" id='deletebtn'>
</form>
